
.drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /* Firefox 3.5 - 3.6 */
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.drawer  span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.drawer span:hover {
  color: #f1f1f1;
}
.labels:hover {
  color: white;
}

.drawer  .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn{
  font-size:36px;
  cursor:pointer;
  position: fixed;
  top: 0;
  left: 25px;
  margin:10px;
}
.closebtn{
  cursor:pointer;
}

@media screen and (max-height: 450px) {
  .drawer {padding-top: 15px;}
  .drawer a {font-size: 18px;}
}


.labels{
  cursor:pointer;
  width:100%;
}
